<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.dyadnisales" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>DYADNI SALES</name>
    <description>
        Business operations
    </description>
    <author email="thomas@rejola.com" href="https://rejola.com">
        Rejola Team New
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="17" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0" />
    <preference name="SplashScreen" value="splash" />
    <platform name="android">
        <icon density="ldpi" src="resources/icon/android/ldpi.png" />
        <icon density="mdpi" src="resources/icon/android/mdpi.png" />
        <icon density="hdpi" src="resources/icon/android/hdpi.png" />
        <icon density="xhdpi" src="resources/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="resources/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="resources/icon/android/xxxhdpi.png" />
    </platform>
    <access origin="*.google.com" />
    <access origin="*.googleapis.com" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="maps:*" />
    <platform name="android">
        <allow-navigation href="*" />
        <preference name="loadUrlTimeoutValue" value="700000" />
        <allow-intent href="market:*" />
        <allow-intent href="maps:*" />
        <allow-intent href="http://*/*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <allow-intent href="maps:*" />
        <allow-intent href="http://*/*" />
    </platform>
    <plugin name="cordova-plugin-dialogs" spec="~2.0.2" />
    <feature name="Notification">
        <param name="android-package" value="org.apache.cordova.dialogs.Notification" />
    </feature>
    <feature name="App">
        <param name="android-package" value="org.apache.cordova.App" />
    </feature>
    <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing" />
    </feature>
    <feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>
    <feature name="SocialSharing">
        <param name="wp-package" value="SocialSharing" />
    </feature>
</widget>
